{{template "head"}}

{{template "body-menu" . }}


<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                {{.Title}}
            </h1>
        </div>


<div class="col-lg-8">
    <form class="card">
        <div class="card-body">
            <h3 class="card-title">AWS Stuff</h3>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="form-label">AccessKey</label>
                        <input type="text" class="form-control"  placeholder="AccessKey" value="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">Secret</label>
                        <input type="text" class="form-control" placeholder="Secret" value="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label class="form-label">SessionToken</label>
                        <input type="text" class="form-control" placeholder="SessionToken">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Region</label>
                        <input type="text" class="form-control" placeholder="Region" value="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">MaxOnlineEvents</label>
                        <input type="text" class="form-control" placeholder="MaxOnlineEvents" value="">
                    </div>
                </div>
               
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </div>
    </form>   
</div>
</div>

{{template "footer" . }}